* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.hero {
    width:100%;
  height:100vh;
  background-image: url("./assets/babai-hotel-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.navbar {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;

  padding: 25px 70px;
}

.nav-links {
  display: flex;
  gap: 35px;

  margin-left: auto;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}



.hero-content {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
  width: 100%;
  z-index: 10;
}

.rating-box {
  display: inline-block;
  padding: 10px 22px;

  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 30px;

  background: rgba(255,255,255,0.08);

  margin-bottom: 25px;
}

.rating-box span {
  margin: 0 15px;
}

.hero-content h1 {
  font-size: 90px;
  font-family: Georgia, serif;
  font-weight: 700;
}

.hero-content h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero-content p {
  font-size: 22px;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-btn {
  background: #ff6b00;
  color: white;
  border: none;

  padding: 18px 38px;
  border-radius: 40px;

  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.whatsapp-btn {
  background: #14b84a;
  color: white;
  border: none;

  padding: 18px 38px;
  border-radius: 40px;

  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.features {
  background: #fff8ec;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

  padding: 50px;
}

.feature-card {
  text-align: center;
}

.feature-card h3 {
  color: #222;
  margin-bottom: 10px;
}

.feature-card p {
  color: #666;
}

@media(max-width:900px){

  .navbar{
    flex-direction: column;
    gap:20px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
  }

  .hero-content h1{
    font-size:55px;
  }

  .hero-content h3{
    font-size:24px;
  }

  .hero-buttons{
    flex-direction:column;
    align-items:center;
  }

  .features{
    grid-template-columns:1fr;
  }
}